html, body {
    color: #ff7d0b;
}

#app {
    margin-bottom: 50px;
}



.bg-dark-light {
    background: $content_dark_light;
}

.bg-light {
    background-color: #474b4e !important;
}

.footer {
    width:100%;
    padding: 12px 15px;
    color: #d2d2d2;
    font-size: 14px;
    box-shadow: 1px 1px 2px 2px #bd7e0e;
}

.collapsed > .opened,
:not(.collapsed) > .closed {
    display: none;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

@include media-breakpoint-down(md) {

    footer.footer {
        .col-lg-4 {
            text-align: center !important;
        }
    }
}
