#main-console {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    .btn-terminal {
        float: left;
        background: black;
        color: #fff;
        font-weight: 800;
        font-size: 16px;
        padding: 3px 14px;
        border: 2px solid #fff;
        margin: 5px;
    }

    .terminal-open {
        margin: 5px 70px;
    }

    .console {
        background: #191919;
        height: 100%;

        .blink-caret {
            background: #10101000;
            border: 3px solid orange;
            width: 15px;
            height: 21px;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
        }

        #calc_pos {
            position: absolute;
            bottom: 0;
            width: auto;
        }

        .caret-active {
            animation: blink-animation 1s steps(5, start) infinite;
            -webkit-animation: blink-animation 1s steps(5, start) infinite;
        }

        @keyframes blink-animation {
            to {
                visibility: hidden;
            }
        }
        @-webkit-keyframes blink-animation {
            to {
                visibility: hidden;
            }
        }

        &-user {
            width: 277px;
        }

        &-input {
            caret-color: transparent;
            position: relative;
            width: 100%;
            height: 50px;
            background: #191919;
            color: orange;
            border: none;
            resize: none;
            outline: none;
            font-weight: 700;
        }
    }
}

.full_width {
    top: 0;
    z-index: 99;
}
